#root {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
  width: 250px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.event-card img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.event-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.event-location {
  font-size: 0.9rem;
  color: #333;
}

.event-date {
  font-size: 0.85rem;
  color: #666;
  margin-top: auto;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  padding: 10px;
  width: 91%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.header-banner {
  height: 5rem;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 1rem;
}

.header-search {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
  min-width: 200px;
  justify-content: flex-end;
  margin-top: 7rem;
}


@media (max-width: 480px) {
  .header-search {
    margin-top: 10rem;
  }
}

.header-search input,
.header-search select {
  padding: 8px;
  font-size: 14px;
  flex-grow: 1;
  min-width: 120px;
}



.event-card:hover .event-title {
  color: black;
}

.event-details-container {
  text-align: center;
  margin-top: 6rem;
}

.event-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
}

.event-image {
  margin-top: 1rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 5px;
}

.event-info {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.register-button {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: black;
  color: white;
}

#event-page-img {
  margin-top: 0px;
}

.back-button {
  height: 2.5rem;
  width: auto;
  cursor: pointer;
  margin-right: 2rem;
}

.back-button:hover {
  opacity: 0.8;
}

#profile-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

#login-button {
  margin-right: 2rem;
}