/* General Styles */
#root {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

button {
  border: 1px solid lightgray;
  border-radius: 50px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 2rem;
}

.header-banner {
  height: 6rem;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 1rem;
}

.header-search {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 8rem 0 0 0.5rem;
}

.header-search input,
.header-search select {
  padding: 8px;
  font-size: 14px;
  flex-grow: 1;
  min-width: 120px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

/* Event Page */
.event-page {
  margin-top: 8rem;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  width: 250px;
  height: 380px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.event-card img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.event-card:hover .event-title {
  color: black;
}

.event-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.event-location,
.event-info {
  font-size: 0.9rem;
  color: #333;
  margin-top: 10px;
}

.event-date {
  font-size: 0.85rem;
  color: #666;
  margin-top: auto;
}

.event-details-container {
  text-align: center;
  margin-top: 6rem;
}

.event-image {
  margin-top: 1rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 5px;
}

#event-page-img {
  margin-top: 0;
}

/* Buttons */
.back-button {
  top: 9rem;
  left: 1rem;
  position: fixed;
}

.register-button {
  padding: 10px 40px;
}

#create-event-button {
  margin: 0;
}

/* Profile */
#profile-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
}

/* Responsive Design */
@media (max-width: 480px) {
  .back-button {
    top: 10rem;
    font-size: 0.75rem;
    padding: 8px;
  }
  .header-search,
  .event-page {
    margin-top: 8rem;
  }
}
